@{
  ViewData["Title"] = "Dashboard";
}
@section VendorStyles {
  <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}
@section VendorScripts {
  <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}
@section PageScripts {
  <script src="~/js/dashboards-analytics.js"></script>
  <script src="~/js/form-basic-inputs.js"></script>
}

@* ************** Content ************** *@

@if (TempData["LoginSuccess"] != null)
{
  <script>
    alert("Login Success");
    @* (function () {
      swal({
        title: "Message",
        text: "Your message has been sent successfully",
        type: 'success',
        showCancelButton: false,
        allowOutsideClick: false,
        confirmButtonColor: "green",
        confirmButtonText: "Ok"
      }).then(function () {
      });
    }); *@

  </script>
  TempData.Remove("LoginSuccess");
}

<div class="row">

</div>
