@{
  ViewData["Title"] = "Dashboard";
  var statsJson = (string)ViewData["UserStats"];
  var users = (IEnumerable<dynamic>)ViewData["Users"];
}
@section VendorStyles {
  <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}
@section VendorScripts {
  <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}
@section PageScripts {
  <script src="~/js/dashboards-analytics.js"></script>
  <script src="~/js/form-basic-inputs.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="~/js/site.js"></script>
}

@* ************** Content ************** *@

@if (TempData["LoginSuccess"] != null)
{
  <script>
    alert("Login Success");
  </script>
  TempData.Remove("LoginSuccess");
}


<div class="row">

  <h2>User Stats</h2>

  <select id="userDropdown" onchange="loadUserStats(this.value)">
    <option value="">-- Select User --</option>
    @foreach (var user in users)
    {
      <option value="@user.UserName">@user.UserName</option>
    }
  </select>
  <select id="chartType" onchange="reloadChart()">
    <option value="bar">Bar</option>
    <option value="line">Line</option>
    <option value="pie">Pie</option>
  </select>
  <div id="chart"></div>
</div>
